# Build Folders
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.sln.docstates

# Visual Studio Code
.vscode/

# Rider
.idea/
*.sln.iml

# Visual Studio temporary files
[Tt]est[Rr]esult*/
[Bb]in/
[Oo]bj/

# NuGet Packages
*.nupkg
*.snupkg
*.nuspec
packages/
**/packages/*

# ASP.NET specific files
*.db
*.db-journal

# Publish output
publish/

# Logs
*.log
*.tlog

# DotNet Tooling
*.dotnet-tools.json

# DotNet CLI
*.dotnet-tools.json

# xUnit
**/bin/
**/obj/
**/TestResults/

# Other files to ignore
*.zip
*.tar.gz
*.tar
*.gz
*.tgz
*.exe
*.dll
*.pdb
*.mdb
*.cache
*.pdb
*.xml
*.json
*.vs/
